<app-header></app-header>
<div class="content" role="main">
  <h2>Introducción a la asignatura</h2>
  <p>En la materia de "tecnologias web" se aprende sobre las tecnologias de internet, tecnologias web para la presentacion, programacion en el servidor, programacion en el cliente, arquitectura orientada a servicios y frameworks.</p>

  <h2>Concepto de Framework</h2>
  <p>Un framework es una estructura que se puede aprovechar para desarrollar un proyecto. El framework es como una plantilla, un esquema conceptual, que simplifica la elaboracion de una tarea, ya que solo es necesario complementarlo de acuerdo a lo que se quiere realizar</p>

  <h2>Principales framworks del 2021</h2>
  <ol>
    <li>
      <a href="https://reactjs.org/" target="_blank">
        <h3>React</h3>
      </a>
      <p style="text-align: center;">
      <img src="./assets/React.svg" alt="React logo" width="400px">
      </p>
      <p>
        Es un framework altamente escalable basado en JavaScript y capaz de satifacer una demanda masiva. Algunos sitios que utilizaron React son: Netflix, Facebook, Airbnb y Reddit.
      </p>
    </li>
    <li>
      <a href="https://angular.io/" target="_blank">
        <h3>Angular</h3>
      </a>
      <p style="text-align: center;">
      <img src="./assets/Angular.svg" alt="Angular logo" width="400px">
      </p>
      <p>
        Es un framework ideal para la creacion de aplicaciones de una sola página y faciles de mantener basado en JavaScript y TypeScript .Weather, PayPal, Netflix y Youtube de PS3 utilizan Angular.
      </p>
    </li>
    <li>
      <a href="https://www.djangoproject.com/" target="_blank">
        <h3>Django</h3>
      </a>
      <p style="text-align: center;">
      <img src="./assets/Django.png" alt="Django logo" width="400px">
      </p>
      <p>
        Este framework utiliza el lenguaje de Python que permite una codificacion limpia y eficiente. Reconocido por su excelente seguridad incluida y uso altamente intuitivo, versatil y facilmente escalable. Pinterest, Instagram y Quora usan Django.
      </p>
    </li>
    <li>
      <a href="https://rubyonrails.org/" target="_blank">
        <h3>Ruby on Rails</h3>
      </a>
      <p style="text-align: center;">
      <img src="./assets/RubyOnRails.svg" alt="Ruby on Rails logo" width="400px">
      </p>
      <p>
        Ruby on Rails utliza en modelo MVC. Utiliza el lenguaje Ruby que permite el desarrollo de aplicaciones en periodos de tiempo mas cortos. Shopify, Airbnb y Groupoon usan Ruby on Rails.
      </p>
    </li>
    <li>
      <a href="https://laravel.com/" target="_blank">
        <h3>Laravel</h3>
      </a>
      <p style="text-align: center;">
      <img src="./assets/Laravel.svg" alt="Laravel logo" width="400px">
      </p>
      <p>
        Ideal para principiantes, utiliza el lenguaje PHP y se basa en el modelo MVC. Lo malo es que no soporta proyectos grandes y usuarios avanzados lo pueden encontrar limitante.
      </p>
    </li>
    <li>
      <a href="https://dotnet.microsoft.com/apps/aspnet" target="_blank">
        <h3>ASP.net</h3>
      </a>
      <p style="text-align: center;">
      <img src="./assets/ASP.net.png" alt="ASP.net logo" width="400px">
      </p>
      <p>
        Desarrollado por Microsoft, ASP.NET utiliza el lenguaje C# y se usa pra crear aplicaciones web para PC y dispositivos móviles. Getty Images, Taco Bell y Stack Overflow utilizaron ASP.NET.
      </p>
    </li>
    <li>
      <a href="http://expressjs.com/" target="_blank">
        <h3>Express.js</h3>
      </a>
      <p style="text-align: center;">
      <img src="./assets/Express.png" alt="Express logo" width="400px">
      </p>
      <p>
       Es uno de los frameworks mas flexibles, su sistema de complementos, la compatibilidad con otros frameworks y otras caracteristicas lo hacen uno de los frameworks candidatos al mas usado en los proximos años. Utiliza el lenguaje JavaScript u lo utilizan Storify, IBM y Uber.
      </p>
    </li>
    <li>
      <a href="https://vuejs.org/" target="_blank">
        <h3>Vue.js</h3>
      </a>
      <p style="text-align: center;">
      <img src="./assets/Vue.svg" alt="Vue logo" width="400px">
      </p>
      <p>
       Fue pensado principalmente como una alternativa más ágil para los usuarios de Angular. Este framework se puede adoptar en porciones aisladas de proyectos sin ningun problema. Es facil de utilizar para principiantes y suficientemente versatil para usuarios avanzados y utiliza el lenguaje JavaScript.
      </p>
    </li>
    <li>
      <a href="https://spring.io/" target="_blank">
        <h3>Spring</h3>
      </a>
      <p style="text-align: center;">
      <img src="./assets/Spring.svg" alt="Spring logo" width="400px">
      </p>
      <p>
       Es el framework MVC más popular para el lenguaje Java, es utilizado por grandes entidades como Wix y Ticketmaster. Los expertos en Java pueden utilizar Spring para desarrollar aplicaciones de alto nivel diseñadas para manejar trafico masivo.
      </p>
    </li>
    <li>
      <a href="https://emberjs.com/" target="_blank">
        <h3>Ember</h3>
      </a>
      <p style="text-align: center;">
      <img src="./assets/Ember.svg" alt="Ember logo" width="400px">
      </p>
      <p>
       Este framework es el favorito para los desarrolladores que valoran el desarrollo de aplicaciones robustas y escalables. Es altamente productivo desde el primer momento y se esta utilizando para aplicaciones como Apple Music, LinkedIn, Netflix y Google.
      </p>
    </li>
  </ol>
  
  <h2>Conclusiones</h2>
  <p>
    Más alla de cual sea el mejor framework actualmente, es importante mantenerse actualizado y capacitado para utilizar diferentes frameworks según sea conveniente. Por lo que, el constante apredizaje y experimentacion son esenciales para el desarrollo profesional.
  </p>

  <app-footer></app-footer>
  <svg id="tag" xmlns="http://www.w3.org/2000/svg" viewBox="2 1 24 12" width="500" height="500">
    <path d="M 2 6 L 2 7 L 11 2 L 11 1 M 2 6 L 11 12 L 11 13 L 2 7 M 13 13 L 12 13 L 15 1 L 16 1 M 17 1 L 17 2 L 26 7 L 26 6 M 17 13 L 17 12 L 26 6 L 26 7" fill="#eee" />
  </svg>
 
</div>


<router-outlet></router-outlet>
